@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@400;500;600&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

:root {
  font-size: 16px;
  line-height: 1.5;
}

body {
  min-height: 100vh;
  color: rgb(201, 197, 197);
  background-color: rgb(27, 26, 26);
  transition: background-color 0.5s, white 0.5s;
  font-family: 'Shantell Sans', cursive;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
